- if request.format == :html
  .card_header
    %h2 Budget Calculator

.content{class: request.format == 'html' ? '' : 'invisible'}
  %table.center
    %tr
      %th Income
      %td= text_field nil, 'income'
    %tr
      %th Expenses
      %td= text_field nil, 'expenses'
    %tr
      %th Savings
      %td= text_field nil, 'savings'

  -#income expenses savings
