- if request.format == :html
  .card_header
    %h2 Tip Calculator

.content{class: request.format == 'html' ? '' : 'invisible'}
  %h1
  %p Find me in app/views/calculators/_tip.html.erb
  -#income expenses savings
