- if request.format == :html
  .card_header
    %h2 Editing Quest

.content{class: request.format == 'html' ? '' : 'invisible'}
  = render 'quests/form'

  %br
  .center
    = link_to 'Back', quests_path, remote: true, data: { fade_content: true, swap_title: 'Quests'}
