- if request.format == :html
  .card_header
    %h2 Inventories

.content{class: request.format == 'html' ? '' : 'invisible'}
  - if @inventories
    .center
      = megatable 'Inventory', %w(name), @inventories

  %br
  .center
    = link_to 'New Inventory', new_inventory_path, remote: true, data: { fade_content: true, swap_title: 'New Inventory'}
