.subject_container
  = ajax_subject 'title', @resource


= edit_fields @resource, description: :text,
                         due_date: :date


%footer
  = collapse_button
  = destroy_link @resource, false
