- if request.format == :html
  .card_header
    %h2= params[:controller].titleize

.content{class: request.format == 'html' ? '' : 'invisible'}
  #by_date
    - @groups.each_pair do |title, group|
      - unless group.empty?
        .category{ id: "#{title}_container" }
          .row{ style: 'align-items: flex-end;'}
            %h4= title.to_s.titleize
          = cruddier_table group
  %br
