.center_form
  .right= updated_field_at 'updated_at', @task
  %br
  %dl
    %dt Title
    %dd= ajax_text 'title', @task

    %dt Complete
    %dd= ajax_boolean 'complete', @task

  .right= link_to 'Destroy', task_path(@task), method: :delete, class: 'destroy_task', remote: true
