- if request.format == :html
  .card_header(style="width: 592px; margin: 0 auto;")
    %h2 Tasks

.content{class: request.format == 'html' ? '' : 'invisible'}
  - if @tasks
    .center
      = megatable 'Task', %w(subject complete), @tasks

  %br
  .center
    .new_task
      = link_to 'New Task', new_task_path, remote: true, id: 'new_task', data: { fade_content: true, swap_title: 'New Task'}
