if ($('.content').length == 0) {
  window.setTimeout(function(){
   $('#container').html('<div class="card_header"><h2>Tasks</h2></div><div class="content invisible"></div>')
    decloak('#container');
    window.setTimeout(function(){
      $('.content').replaceWith('<%= j render partial: 'index' %>');
    }, 310);
    window.setTimeout(function(){
      decloak('.content');
    }, 320);
  },400);
} else {
  window.setTimeout(function(){
    $('.content').replaceWith('<%= j render partial: 'index' %>');
  }, 310);
  window.setTimeout(function(){
    decloak('#container');
    decloak('.content');
  }, 320);
}
