- if request.format == :html
  .card_header
    %h2 Editing User

.content{class: request.format == 'html' ? '' : 'invisible'}

  = render 'form'

  %br
  = link_to 'Back', users_path, data: { remote: true, fade_content: true, swap_title: 'Users' }
