.center_form
  %dl
    %dt Username
    %dd= ajax_string 'username', @user

    - if superuser?
      %dt Privilege
      %dd= ajax_number 'privilege_level', @user

    %dt Favorite Color
    %dd= ajax_string 'favorite_color', @user

  %footer
    -#= destroy_link @user
    = link_to 'Logout', logout_path, id: 'logout_button', data: { remote: true, method: :delete, fade_content: true, swap_title: 'Authenticate'}, class: 'user_link link_2'

