<br>
%table#users
  %thead
    %tr
      %th username
      %th actions
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= link_to 'edit', edit_user_path(user), remote: true, class: 'edit'


#edit_user.hidden
  %h1 Edit User
  %dl
