- if request.format == :html
  .card_header
    %h2 Welcome to skela!
.content
  %p
    Welcome to Skela, the web-app-template-type thing. Skela is open source, check out the code at
    = link_to 'GitHub.com', 'https://github.com/AdmiralJef/skela'
