- if request.format == :html
  .card_header
    %h2 Welcome to Skela!
.content
  %p(style="white-space:normal;text-align:center;")
    Welcome to Skela course tracking! Skela is open source, check out the code at
    = link_to 'GitHub.com', 'https://github.com/AdmiralJef/skela'

