%p
  Welcome to Skela! This is a web app template type thing. This is an open source project. Check out the code at
  = link_to 'github', 'https://github.com/AdmiralJef/skela'

  %ul
  %li
    = link_to 'click here to check out users', users_path
    