- if request.format == :html
  .card_header
    %h2 Editing Shift

.content{class: request.format == 'html' ? '' : 'invisible'}
  = render 'form'

  %br
  .center
    = link_to 'Back', shifts_path, remote: true, data: { fade_content: true, swap_title: 'Shifts'}
