- if request.format == :html
  .card_header
    %h2 Shifts

.content{class: request.format == 'html' ? '' : 'invisible'}
  - if @shifts
    .center
      = megatable 'Shift', %w(date start end user), @shifts

  %br
  .center
    = link_to 'New Shift', new_shift_path, remote: true, data: { fade_content: true, swap_title: 'New Shift'}
