- range = 100

- if request.format == :html
  .card_header
    %h2 Hi-Lo

.content{class: request.format == :html ? '' : 'invisible'}
  %p
    = "I'm thinking of a number between 0 and #{range}"

  .center.small_width
    Guess:
    %form#guess_form
      = number_field_tag 'guess'

  %p
    Number of attempts:
    %span#number_of_attempts 0



:javascript
  $(function(){
    $('#guess').focus();
    decloak('#container');
    var winningNumber = generateWinningNumber(#{range});
    $('#guess').attr('data-target', winningNumber);
  });

  $('#guess_form').on('submit', function(){
    var userGuess = getUserGuess();
    var winningNumber = parseInt($('#guess').attr('data-target'));

    console.log("User guesses " + userGuess);

    if (userGuess < winningNumber)
      alert('Too low');
    else if (userGuess > winningNumber)
      alert('Too high');
    else if (userGuess == winningNumber) {
      alert('You guessed the number, you win!');
      $('#guess').attr('disabled', true);
      return false;
    }
    else
      alert("I don't even know what happened.");

    clearUserGuess();

    return false;
  });
