<h1>Games</h1>
<p>These are some games I made when I was bored which maybe you will play when you are bored.</p>

%ul#games
  %li= link_to 'Tic-Tac-Toe', games_tic_tac_toe_path
  %li= link_to 'Hi-Lo', games_hi_lo_path
  %li= link_to '100-Puzzle', games_hundred_puzzle_path
  %li= link_to 'Plane of Worlds', games_plane_of_worlds_path

:javascript
  $(function(){
    decloak('#container');
  });
