- if request.format == :html
  .card_header
    %h2 Games

.content{class: request.format == :html ? '' : 'invisible'}
  <p>These are some games I made when I was bored which maybe you will play when you are bored.</p>

  %ul#games
    %li= link_to 'Tic-Tac-Toe', games_tic_tac_toe_path, remote: true, class: 'nav_link'
    %li= link_to 'Hi-Lo', games_hi_lo_path, remote: true, class: 'nav_link'
    %li= link_to '100-Puzzle', games_hundred_puzzle_path, remote: true, class: 'nav_link'
    -#%li= link_to 'Plane of Worlds', games_plane_of_worlds_path, remote: true, class: 'nav_link', data: { path: 'games/plane_of_worlds', parent: 'games'}

:javascript
  $(function(){
    decloak('#container');
  });
