%h1 Tic-Tac-Toe
%p You know the rules, get 3-in-a-row before your opponent to win!

.tic_tac_toe_board{ data: { turn: 1 } }
  - 9.times do |x|
    - klass = ''
    - if x % 3 == 0
      - klass << 'left_vertical'
    - elsif x % 3 == 1
      - klass << 'inner_vertical'
    - elsif x % 3 == 2
      - klass << 'right_vertical'

    - if x < 3
      - klass << ' top_horizontal'
    - elsif x < 6
      - klass << ' inner_horizontal'
    - elsif x < 9
      - klass << ' bottom_horizontal'

    .tic_tac_toe_square{ class: klass }

:javascript
  $(function(){
    decloak('#container');
  });
