#hundred_puzzle
  %h1 100-Puzzle

  %ol#left_rotations
    - 5.times do |row|
      %li
        = content_tag :a, id: 'rotate_left', data: { row: row } do
          .arrow <-

  %table#hundred_tower
    - 5.times do
      %tr
        - 5.times do
          %td

  %ol#right_rotations
    - 5.times do |row|
      %li
        = content_tag :a, id: 'rotate_right', data: { row: row } do
          .arrow ->

  .block
    %table#sums
      %tr
        - 5.times do
          %td



  :javascript
    $(function(){
      setTimeout(function(){
        initHundredPuzzle();
        decloak('#container');
      },25);
    });
