- if request.format == :html
  .card_header
    %h2 Editing Developer Log Entry

.content{class: request.format == 'html' ? '' : 'invisible'}

  = render 'form'

  %br

  = link_to 'Back', developer_log_entries_path, data: { remote: true, fade_content: true, swap_title: 'Developer Log' }
