.center_form
  .subject_container
    = ajax_subject 'title', @developer_log_entry
  .notes_container
    = ajax_notes 'text', @developer_log_entry

  = edit_fields @developer_log_entry, datetime: :datetime,
                                      user_id: :user_select

  %footer
    = destroy_link @developer_log_entry
