%div.record_module
  .ab_group
    .module_a
      .field_name Name
      .field_value= plant.name
    .module_b
      .field_name Species
      .field_value= plant.species
  .module_c
    .field_name Birthday
    .field_value= plant.birthday
