-#%h4 Resources
%ul.associated_resources
  - @resourceful ||= @resource
  - @resourceful.resources.each do |resource|
    = render partial: 'resources/card', locals: { resource: resource, resourceful: @resourceful }

  = render 'resources/new_associate_resource', locals: { resourceful: @resourceful }
