= link_to resource.title, resources_path, class: 'resource', data: { resource_id: resource.id }
= link_to md_icon('delete'), send("remove_resource_#{resourceful.class.to_s.underscore}_path", resourceful, resource_id: resource.id), class: 'remove', data: { method: :post, remote: true, remove_parent_li: true }
