.crud_title
  = resource.description
.right
  - if resource.url.present?
    = link_to md_icon('open_in_new'), resource.url, target: 'blank'
  - if resource.filename.present?
    = link_to md_icon('file_download'), resource_path(resource)
