$('.associated_resources').append('<li><%= j render partial: 'resources/card', locals: { resource: @resource, resourceful: @resourceful } %></li>');
$('#<%= @resourceful.class.to_s.underscore %>_new_resource').val('');
