.center_form
  .subject_container
    -#.right= updated_field_at 'updated_at', @item
    = ajax_subject 'name', @item
  .notes_container
    = ajax_notes 'description', @item
  %br

  %dl
    %dt Units
    %dd= ajax_string 'units', @item


  %footer
    = destroy_link @item
