.subject_container
  = ajax_subject 'title', @resource


= edit_fields @resource, instructor: :string,
                         location: :string,
                         schedule: :string


%footer
  = collapse_button
  = destroy_link @resource, false
