- if request.format == :html
  .card_header
    %h2= @course.title

.content{class: request.format == 'html' ? '' : 'invisible'}
  = render template: 'shared/by_category.haml'

  %br

:javascript
  $(document).on('click', '#new_crud', function(){
    $('#get_started').fadeOut('fast');
  });
