- if request.format == :html
  .card_header
    %h2= params[:controller].titleize

.content{class: request.format == 'html' ? '' : 'invisible'}
  = cruddier_table @resources
  %br
  .center
    .new_crud_button
      = link_to md_icon('add_circle', true), send("new_#{params[:controller].singularize}_path"), remote: true, class: 'new_crud'
