var crud = find_crud('<%= @resource.class.to_s.underscore %>', <%= @resource.id %>);
crud.addClass('selected');
crud.find('.compact').hide();
crud.append('<div class="full" style="display:none;"><%= j render partial: 'full', locals: { resource: @resource  } %></div>')
crud.find('.full').slideDown(150);
crud.find('.ajax_field.subject').focus();
timeout(200, function(){
  scrollToView(crud.find('.full'));
});

