var crud = locate('<%= @resource.class.to_s.underscore %>', <%= @resource.id %>);
crud.find('.compact').hide();
crud.append('<div class="full" style="display:none;"><%= j render partial: 'full', locals: { resource: @resource  } %></div>')
crud.find('.full').slideDown('fast');
crud.find('.ajax_field.subject').focus();
