/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree
 *= require_self
 */

body {
    margin: 0;
    background-color: #fff;
}

.left {
    float: left;
}
.right {
    float: right;
}
.flash {
    font-size: 1.5em;
    color: white;
    display: block;
    width: 100%;
    height: 76px;
    line-height: 68px;
    text-align: center;
    position: relative;
    font-weight: bold;
    transition: top .55s ease-in-out 0s,
                height .55s ease-in-out .3s,
                background .3s ease-in-out;
}
.flash:not(.hidden) {
}
.flash:hover {
    cursor: pointer;
}
.flash.hidden {
    padding: 0;
}
span.vertical_middle {
    vertical-align: middle;
    line-height: normal;
}
.notice {
    background-color: #5c5;
    top: 0;
}
.notice.hidden {
    top: -96px;
    height: 0;
}
.notice:hover {
    background-color: #57b057;
}
.alert {
    background-color: #c20;
    top: 0;
}
.alert.hidden {
    top: -96px;
    height: 0;
}
.alert:hover {
    background-color: rgba(170, 18, 9, 0.73);
}
#curtain {
    text-align: center;
    padding-top: 4em;
}
#curtain h1 {
    color: #444;
    font-family: Ubuntu;
    font-size: 5em;
    line-height: 1em;
    clear: both;
    margin-bottom: .2em;
}
#center_form_box {
    background-color: #f3f7f8;
    width: 300px;
    display: inline-block;
    padding: 2.5em 1.5em;
    border-radius: 3px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.298039);
    margin-bottom: 2em;
    position: relative;
    left: 0px;
    transition: left 1s ease-in-out;
    transition-delay: .5s;
}
#center_form_box label {
    color: rgba(0, 0, 0, 0.698039);
}
#center_form_box h2 {
    /*margin-top: 0;*/
}
#center_form_box form .center_form_field input {
    font-size: 1.3em;
    line-height: 2.5em;
    border: solid 1px #ddd;
    /*border-radius: 3px;*/
    padding: 0 8px 0;
    width: 260px;
    margin-bottom: .5em;
    transition: background .3s ease-in-out;
}
.center_form_field input:hover {
    outline: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.298039) inset;
}
#center_form_box form .center_form_field input:focus {
    outline: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.298039) inset;
    border: solid 1px #427fed;
}
#center_form_box form .center_form_field input:focus {

}
#center_form_box form input[type="submit"] {
    /*font-size: 1.3em;*/
    /*margin-top: 1em;*/
}
/*}*/
/*#center_form_box img {*/
    /*height: 96px;*/
    /*width: 96px;*/
    /*border-radius: 50%;*/
    /*margin-bottom: 1em;*/
/*}*/
a.center_form_link {
    font-size: 1em;
    display: block;
    /*margin-top: 2em;*/
    color: #427fed;
    text-decoration: none;
    padding: 1em 2em;
}
a.center_form_link:hover {
    color: #427fed;
    background: none;
    text-decoration: underline;
}
a.center_form_link:visited {
    color: #427fed;

}
a.center_form_link:active {
    color: #427fed;

}

div.center_form_field {
    /*margin-bottom: 0;*/
}

input.disabled {
    background-color: #f4f4f4;
    /*transition: background .1s ease;*/
}

.center {
    text-align: center;
}
.developer_pad_wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #295;
    font-size: 1.1em;
    background-color: #f3f8f7;
    box-shadow: 0 -2px 4px rgba(0,0,0,.29);
    display: block;
    height: 76px;
    line-height: 76px;
    font-weight: bold;
    transition: height .70s ease-in-out;
    padding: 0;
}
#developer_pad {
    width: 70%;
    height: 76px;
    display: inline-block;
    background-color: #3995ff;
    margin: 0 auto;
    position: fixed;

}
.developer_pad_wrapper.hidden {
    display: none;
}
#developer_pad_title {
    margin: 0;
    display: inline-block;
    border-right: 1px solid #ccc;
    padding: 0em 2.5em 0em 0;
    line-height: 76px;
}
ul.god_buttons {
    padding: 0;
    display: inline;
    margin: 0;
}
ul.god_buttons li {
    display: inline-block;
}
ul.god_buttons li a {
    display: inline-block;
    padding: 0 1em;
    margin: 0 1em;
    color: #2a6;
    line-height: 68px;
    font-size: 1.1em;
    border-top: 4px solid #f4f8f7;
    border-bottom: 4px solid #f4f8f7;
    transition: border-color 0.2s ease;

}
ul.god_buttons li a:hover {
    border-top: 4px solid #4c8;
    /*border-bottom: 4px solid #fff;*/
    text-decoration: none;
}
#header_right {
    font-size: 1.1em;
    color: #37a;
    float: right;

    padding: 0 0px;
    margin: 0;

    vertical-align: bottom;
}

#header_left {
    font-size: 5em;
    line-height: inherit;
    color: #555;
    font-family: Ubuntu, Verdana, Geneva, sans-serif;
    font-weight: bold;
    height: 76px;
    display: inline-block;
    float: left;
    padding: 0px 28px;
    margin: 0px 7px 0 56px;
}
#header_left:hover {
    text-decoration: none;
}

#container {
    padding-top: 2qem;
    display: inline-block;
    clear: both;
    text-align: center;
    width: 100%;
}
#container ul {
    display: inline-block;
}
#helmet {
    background-color: #f3f7f8;
    box-shadow: 0 2px 4px rgba(0,0,0,.29);

    /*color: white;*/
    display: block;
    height: 76px;
    line-height: 68px;
    font-weight: bold;
    transition: height .70s ease-in-out;
    padding: 0;
    position: relative;
}
#logged_in_text {
    margin: 0;
    display: inline-block;
    border-right: 1px solid #ccc;
    padding: 0em 2.5em 0em 0;
    line-height: 76px;
    color: rgba(68,136,204,1);
}
nav {
    padding: 0 2em;
    display: inline-block;
}
nav a {
    display: inline-block;
    padding: 0 .5em;
    margin: 0 1.5em;
    line-height: 68px;
    border-top: 4px solid rgba(0,0,0,0);
    border-bottom: 4px solid #f3f7f8;
    color: rgba(68,136,204,1);
    transition: border-color 0.3s ease;
}
nav a:hover {
    text-decoration: none;
    border-bottom-color: #48c;
    border-top-color: #f3f7f8;
    cursor: pointer;
}
