/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree
 *= require_self
 *= require jquery-ui/autocomplete
 */

body
  height: 100%
  width: 100%
  margin: 0
  background: #f2f2f2

  transition: background 1s ease

html
  height: 100%
  width: 100%


.left
  float: left

.right
  float: right

#curtain
  text-align: center
  padding-top: 1em

#container #curtain h1
  color: #444
  font-family: Ubuntu, sans-serif
  font-size: 5em
  line-height: 1em
  clear: both
  margin-bottom: .2em


input.disabled
  background-color: #f4f4f4

#container
  display: inline-block
  clear: both
  width: 100%
  white-space: nowrap
  overflow: hidden

h1
  margin: 0 0 .5em

.center
  margin: auto
  text-align: center


#sidebar
  vertical-align: top
  padding: 6px
  margin-top: 6px
  margin-left: 10px
  width: 45px
  float: left
  display: inline-block

  transition: width .3s ease

  .course_title
    display: none

  @media only screen and (min-width: 896px)
    width: 200px
    .course_title
      display: inline-block

  ul
    margin: 0

  li
    display: block

  .button
    display: block
    padding: 10px
    border-radius: 2px
    color: rgba(0,0,0,.59)
    font-size: 90%
    height: 30px
    line-height: 30px
    white-space: nowrap
    text-overflow: hidden

    &:hover
      text-decoration: none
      background: rgba(0,0,0,.03)

    &.selected
      background: rgba(0,0,0,.052)

    i.material-icons
      margin-top: 2px
      margin-right: 18px

#main
  vertical-align: top
  display: inline-block
  min-width: 600px

  margin-left: 10px
  margin-right: 100px

  padding: 0 10px


  @media only screen and (min-width: 1080px)
    width: 830px
  @media only screen and (min-width: 1310px)
    width: 1060px


.gray
  color: rgba(0,0,0,.18)


$one: #1876d2
$two: #42a4f5
$three: #badefa
