/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree
 *= require dataTables/jquery.dataTables
 *= require_self
 *= require material_icons
 */

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #ececec;
}

html {
    height: 100%;
    width: 100%;
}

.left {
    float: left;
}
.right {
    float: right;
}
#curtain {
    text-align: center;
    padding-top: 6em;
}
#container #curtain h1 {
    color: #444;
    font-family: Ubuntu;
    font-size: 5em;
    line-height: 1em;
    clear: both;
    margin-bottom: .2em;
}
#center_form_box {
    background-color: #f3f7f8;
    width: 300px;
    display: inline-block;
    padding: 2.5em 1.5em;
    border-radius: 3px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.298039);
    margin-bottom: 2em;
    position: relative;
    left: 0px;
    transition: left 1s ease-in-out;
    transition-delay: .5s;
}
#center_form_box label {
    color: rgba(0, 0, 0, 0.698039);
}
#center_form_box form .center_form_field input {
    font-size: 1.3em;
    line-height: 2.5em;
    border: solid 1px #ddd;
    padding: 0 8px 0;
    width: 260px;
    margin-bottom: .5em;
    transition: background .3s ease-in-out;
}
.center_form_field input:hover {
    outline: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.298039) inset;
}
#center_form_box form .center_form_field input:focus {
    outline: none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.298039) inset;
    border: solid 1px #427fed;
}
a.center_form_link {
    font-size: 1em;
    display: inline-block;
    color: #427fed;
    text-decoration: none;
    padding: 1em 2em;
}
a.center_form_link:hover {
    color: #427fed;
    background: none;
    text-decoration: underline;
}
a.center_form_link:visited {
    color: #427fed;
}
a.center_form_link:active {
    color: #427fed;
}

input.disabled {
    background-color: #f4f4f4;
}
#container {
    display: inline-block;
    clear: both;
    text-align: center;
    width: 100%;
}
#container h1 {
    margin: 0 0 .5em;
}
#container ul {
    display: inline-block;
}
