/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree
 *= require dataTables/jquery.dataTables
 *= require_self
 */

body
  height: 100%
  width: 100%
  margin: 0
  background: #ececec


html
  height: 100%
  width: 100%


.left
  float: left

.right
  float: right

#curtain
  text-align: center
  padding-top: 6em

#container #curtain h1
  color: #444
  font-family: Ubuntu
  font-size: 5em
  line-height: 1em
  clear: both
  margin-bottom: .2em


input.disabled
  background-color: #f4f4f4

#container
  display: inline-block
  clear: both
  text-align: center
  width: 100%

#container h1
  margin: 0 0 .5em

#container ul
  display: inline-block

.center
  display: inline-block
  margin: auto

