#logout_button
  display: flex
  line-height: 32px
  padding: 6px
  padding-right: 12px
  border-radius: 4px
  background: #427fed
  color: rgba(255,255,255,.9)
  font-size: 110%
  text-decoration: none
  align-self: flex-start

  i
    text-decoration: none
    font-size: 32px
    padding-right: 10px
    vertical-align: middle

.button
  display: inline-block
  line-height: 32px
  padding: 6px 14px
  border-radius: 4px
  background: #427fed
  color: white
  font-size: 110%
  text-decoration: none
  transition: background .3s ease

  &:hover
    text-decoration: none
    background-color: #42a4f5
    cursor: pointer
