.content
  text-align: center

a
  text-decoration: none

form.text
  width: 100%

#container
  transition: all .45s ease-in-out

body
  background-color: #fff
  color: #333
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  line-height: 18px

p, ol, ul, td
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  line-height: 18px

pre
  background-color: #eee
  padding: 10px
  font-size: 11px

a:hover
  text-decoration: underline

.field
  position: relative

.field_with_errors
  padding: 2px
  background-color: red
  display: table

#error_explanation
  width: 450px
  border: 2px solid red
  padding: 7px 7px 0
  margin-bottom: 20px
  background-color: #f0f0f0

  h2
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 12px
    margin: -7px -7px 0
    background-color: #c00
    color: #fff

  ul li
    font-size: 12px
    list-style: square
ul.horizontal li
  display: inline-block

label
  cursor: pointer

ul
  padding: 0
  li
    list-style-type: none

.southeast
  position: fixed
  right: 30px
  bottom: 30px


.row
  display: flex
  align-items: center

  h1, h2, h3, h4, h5, h6
    margin-right: 8px
