.cruddy_table
  position: relative
  margin: 0
  flex: 1

.cruddy_resource
  display: flex
  position: relative
  text-align: left

  background: white
  margin: 0 5%

  transition: all .3s ease-in-out

  &.selected
    margin: 11px 2%


  .compact
    flex: 1
    background: white
    cursor: pointer
    padding: 10px 20px
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4)
    border-top: solid #ddd 1px
    height: 30px
    line-height: 30px
    font-size: 98%

    transition: width .3s ease-in-out

    i
      font-size: 26px
      padding: 3px 0 0 4px

  .full
    flex: 1
    background: white
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4)
    border-top: solid #ddd 1px

    transition: width .3s ease-in-out


  .subject_container
    padding: 20px 20px 22px
    input.subject
      border: none
      font-size: 120%
      font-weight: bold
      height: 20px
      outline: none

  .notes_container
    padding: 0 20px
    textarea
      border: none
      font-family: arial, sans-serif
      resize: vertical
      outline: none
      line-height: 150%

  textarea
    width: 100%
    height: 7em

  footer
    display: block
    clear: both
    height: 24px
    padding: 12px 13px
    a
      color: #666
      &:hover
        color: #000

  dl
    margin: 0 20px 0

  input
    padding: 5px 7px

.crud_title
  display: inline-block
  font-weight: bold
  font-family: arial, sans-serif

.crud_text
  display: inline-block

  padding-left: 15px
  opacity: .5
  white-space: nowrap
  overflow: hidden

.faint
  color: rgba(0,0,0,.35)

.huge
  font-size: 300%

.new_crud
  margin: 6px
  opacity: .6
  transition: opacity .21s ease-in-out
  i
    transition: all .2s ease
    border-radius: 50%
  &:hover
    opacity: .9
    i
      transform: scale(1.1)


.v_middle
  position: relative
  top: 50%
  transform: translateY(-50%)

.collapse
  cursor: pointer
  padding: 0 36px
  display: block
  margin: 0 auto
  width: 100px
  text-align: center

.destroy_crud

.zero_or_more
  text-align: center

.one_of_many
  width: 180px
  margin: 10px auto
  height: 30px
  line-height: 30px
  border-radius: 2px
  box-shadow: 0px 0px 4px rgba(0,0,0,.71)

  i
    position: absolute
    right: 36%

.big_button
  display: block
  margin: 0 auto
  text-align: center
  width: 300px
  height: 20px
  padding: 20px
  border-radius: 8px
  font-size: 120%
  background: rgba(0,0,0,.06)
  transition: all .18s ease-out

  &:hover
    background: rgba(0,0,0,.12)
    text-decoration: none

.card_header
  background: #ddd
  padding: 1px 0 1px
  box-shadow: 0 0 9px rgba(0,0,0,.5)

  margin: 0 15%

  position: relative
  top: 0
  transition: top .3s ease, width .3s ease
  text-align: center

  &.hidden
    top: -64px


h4
  color: rgba(0,0,0,.33)
  margin: 24px 45px 11px

a[data-add-field], span.read
  cursor: pointer

a[data-add-field]
  opacity: .7
  color: #777

.new_crud_link
  cursor: pointer

.new_crud_form
  input[type=text]
    font-weight: bold
    font-size: 106%
    border: none
    outline: none
    padding: 0
    width: 100%

ul.optional_fields
  display: flex
  flex-direction: column
  padding: 0 20px

  li
    flex: 1
    display: flex
    align-items: flex-start
    padding: 0 0 18px

  label
    flex-shrink: 0
    font-weight: bold
    margin-right: 18px
    width: 96px
    display: inline-block
    text-align: right

  form
    display: inline-block
    margin-right: 24px
    flex: 1

  label, .add, .edit, .read
    line-height: 36px

  .read, .add
    display: inline-block
    padding: 0 0 0 7px
    flex: 1
    white-space: pre-wrap

    &:hover
      text-decoration: underline

  input:not([type=checkbox])
    width: 169px
    height: 18px
    font-family: Helvetica, arial, sans-serif

  textarea
    font-family: Helvetica, arial, sans-serif
    padding: 5px 7px
