.cruddy_table
  position: relative
  margin: 0

.cruddy_resource
  position: relative
  margin: 0px auto 0
  text-align: left

  .compact
    background: white
    cursor: pointer
    padding: 10px 20px
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4)
    border-top: solid #ddd 1px
    width: 560px
    height: 30px
    margin: auto

  .full
    background: white
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4)
    margin: 11px auto
    width: 650px
    border-top: solid #ddd 1px

  .subject_container
    padding: 20px 20px 22px
    input.subject
      border: none
      font-size: 140%
      font-weight: bold
      height: 20px
      outline: none

  .notes_container
    padding: 0 20px
    textarea
      border: none
      font-family: arial, sans-serif
      resize: vertical
      outline: none
      line-height: 150%

  textarea
    width: 100%
    height: 7em

  footer
    text-align: center
    height: 24px
    padding: 12px 13px
    a
      color: #666
      &:hover
        color: #000

  dl
    margin: 0 20px 0

.crud_title
  display: inline-block
  font-weight: bold
  font-family: arial, sans-serif
  font-size: 120%

.crud_text
  display: inline-block

  padding-left: 15px
  opacity: .5
  white-space: nowrap
  overflow: hidden

.faint
  color: rgba(0,0,0,.35)

.huge
  font-size: 300%

.new_crud_button
  opacity: .6
  transition: all .2s ease

  &:hover
    opacity: 1

.v_middle
  position: relative
  top: 50%
  transform: translateY(-50%)

.collapse
  cursor: pointer
  transform: translateX(50%)

