.developer, .users, .log_entries, .issues
  table
    display: inline-block
  #helmet
    background: #d40000

    a, .dropper
      &.selected, &:hover
        color: white
        background-color: #e43935
  a
    color: #d40000

  h1, h2, h3, h4, h5, h6, th
    color: #B71C1C

  h3, h4, h5, h6
    opacity: .6

  tr:hover td
    background: #FFCDD2
