// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#games
  a
    padding: .5em 1em
    margin: .5em 1em

.tic_tac_toe_board
  height: 600px
  width: 600px
  background-color: black
  line-height: 0px

  margin: 0
  padding: 0

.tic_tac_toe_square
  display: inline-block
  height: 198px
  width: 198px
  line-height: 200px
  float: left
  background-color: white
  border: 1px solid black
  font-size: 10em
  margin: 0
  padding: 0
  color: rgba(0,0,0,0)

  transition: background .2s ease-in-out, color .25s ease-in-out




  &:hover
    color: #6d4
    cursor: pointer
  //&:active
  //  color: #444

  &.X
    color: darkred
    &:after
      content: 'X'
  &.O
    color: blue
    &:after
      content: 'O'

.tic_tac_toe_board[data-turn='1']
  .tic_tac_toe_square:not(.X):not(.O)
    &:hover
      &:after
        content: 'X'

.tic_tac_toe_board[data-turn='0']
  .tic_tac_toe_square:not(.X):not(.O)
    &:hover
      &:after
        content: 'O'


////////////////
// 100-Puzzle //
////////////////
#hundred_puzzle
  display: block

  ol
    display: inline-block
    margin: 0
    padding: 0
    vertical-align: top
  li
    display: block
    line-height: 71px

  a#rotate_left, a#rotate_right
    display: inline-block
    width: 71px
    cursor: pointer
    font-weight: bold
    font-size: 1.2em
    border-radius: 3px

    &:hover
      color: white
      background-color: #427fed
      text-decoration: none

    @extend .no_select

  table#sums
    @extend #hundred_tower

#hundred_tower
  width: 600px
  display: inline-block
  margin: 0 0 1em
  @extend .no_select

  td
    font-size: 2em
    width: 150px
    height: 45px

.no_select
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none