////////////////////
// Flash Messages //
////////////////////
.flash
  z-index: 10
  font-size: 1.2em
  color: white
  display: block
  width: 100%
  height: 50px
  line-height: 50px
  text-align: center
  position: absolute
  font-weight: bold
  transition: top .70s ease-in-out, background .3s ease-in-out, box-shadow .35s ease-in-out
  box-shadow: 0 1px 3px rgba(0,0,0,.19)

  &:hover
    cursor: pointer
  
  &.hidden
    padding: 0
    box-shadow: none

span.vertical_middle
  vertical-align: middle
  line-height: normal

.notice
  background-color: #388E3C
  top: 0
  &.hidden
    top: -78px
  
  &:hover
    background-color: #00C853
  

.alert
  background-color: #C62828
  top: 0
  &.hidden
    top: -78px
  
  &:hover
    background-color: #D50000


///////////////////
// Header Proper //
///////////////////

.flex_box
  display: flex
  display: -webkit-flex
.flex
  flex: 1
  webkit-flex: 1
#helmet
  background-color: #00796B
  box-shadow: 0 2px 4px rgba(0,0,0,.29)
  display: flex
  line-height: 62px
  font-weight: bold
  transition: top .70s ease-in-out, margin .70s ease-in-out, opacity .45s ease-in-out, height .7s ease-in-out, background .2s ease-in-out
  position: relative
  top: 0
  z-index: 9
  padding: 0 23px


  &.hidden
    top: -50px
    margin: 0 auto -50px
  &:not(.hidden)
    margin: 0 auto 0

  #header
    background: inherit
    color: #48c
    display: block
    padding: 0
    margin: 0
    vertical-align: bottom

  nav
    background: inherit
  a, .dropper
    display: inline-block
    padding: 0 1.5em
    margin: 0 0em
    line-height: 50px
    color: rgba(255,255,255,.91)
    transition: all 0.15s ease-out

    &:hover, &.selected
      text-decoration: none
      cursor: pointer
      background-color: rgba(255,255,255,.06)
  #user_nav
    display: inline-block
    line-height: 50px
    text-align: left
    white-space: nowrap

    color: #48c

    #logged_in_text
      color: rgba(255,255,255,.80)
      display: inline-block
      border-right: 1px solid rgba(0,0,0,0)
      padding: 0 3.2em 0 1.6em
      margin: 0 1em 0 0
      transition: border .5s ease-in-out

      &:hover, &.selected
        text-decoration: none
      &:before
        content: "Logged in as "

    a.user_link
      opacity: 1
    #logged_in_text
      border-color: rgba(0,0,0,.19)
      cursor: default

    vertical-align: bottom

ul#primary_nav
  margin: 0
  background: inherit
  li
    display: inline-block
    background: inherit

  .drop_down_nav
    display: none
    margin: 0
    position: absolute
    background: inherit
    top: 50px
    font-size: inherit
    li
      display: block
    .nav_link
      width: 144px
      line-height: 40px
    &.active
      display: block
  li:hover ul.drop_down_nav
    display: block

#helmet #toggle_header
  float: left
  position: absolute
  left: 10px
  top: 50px
  color: rgba(0,0,0,.15)

  transition: color .3s ease-in-out

  &:hover
    text-decoration: none
    color: rgba(0,0,0,.45)
