@import colors

=white-text($alpha)
  color: rgba(255,255,255,$alpha)
=black-text($alpha)
  color: rgba(0,0,0,$alpha)

=white-background($alpha)
  background-color: rgba(255,255,255,$alpha)
=black-text($alpha)
  background-color: rgba(0,0,0,$alpha)



.flex_box
  display: flex
  align-items: center
.flex
  flex: 1

#page_title
  font-size: 300%
  font-family: 'Ubuntu', 'sans-serif'
  font-weight: bold
  color: #fff
  padding: 0 20px
  white-space: nowrap

#header
  display: flex
  align-items: center
  box-shadow: 0 2px 4px rgba(0,0,0,.29)
  +white-text(.96)
  background: $one
  padding: 0 23px
  position: relative
  z-index: 9




  #site_logo
    padding: 0 32px 0 24px


  nav
    display: flex
    justify-content: space-between
    flex: 1

  ul
    display: flex
    align-self: flex-start
    margin: 0
    flex: 1


#site_logo
  width: 150px
  height: 51px

  &.background
    background: black
    padding: 10px 16px
    border-radius: 10px

a.nav_link, a.category_toggle
  display: inline-block
  font-size: 110%
  padding: 0 1em
  line-height: 69px
  +white-text(.91)
  transition: all 0.15s ease-out
  cursor: pointer
  &.selected
    text-decoration: none
    +white-background(.07)
  &:hover
    text-decoration: none
    +white-background(.04)
  &:hover.selected
    +white-background(.09)

#logged_in_user
  display: flex
  align-items: center
