.avatar_box
  display: inline-block
  vertical-align: bottom

.material-icons.huge
  font-size: 64px

.letter_icon
  font-size: 24px
  font-style: normal
  display: inline-block
  width: 23px
  text-align: center
  