#logged_in_text
  cursor: pointer

  .avatar
    display: block
    width: 42px
    height: 42px
    padding: 4px

    transition: all .11s ease


  &:hover
    background: #e43935

    //.avatar
      width: 46px
      height: 46px
      padding: 2px
