// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.login
  background: #d6d6d6

#login_button
  font-size: 1.3em
  height: 2.5em
  font-weight: bold
  width: 276px
  color: white
  background-color: #004D40
  border: none
  border-radius: 2px
  transition: background .3s ease

  &:hover
    background-color: #00BFA5
    cursor: pointer

#login_button[disabled]
  cursor: default

#center_form_box.wut
  left: 60%

#curtain
  overflow-x: hidden


#center_form_box
  width: 300px
  display: inline-block
  padding: 2.5em 1.5em
  border-radius: 3px
  margin-bottom: 2em
  position: relative
  left: 0px
  transition: left 1s ease-in-out
  transition-delay: .5s

#center_form_box label
  color: rgba(0, 0, 0, 0.698039)

=outline($color)
  border: solid 1px $color

.center_form_field input
  font-size: 1.3em
  line-height: 2.5em
  +outline(#ddd)
  padding: 0 8px 0
  width: 260px
  margin-bottom: .5em
  transition: background .3s ease-in-out

.center_form_field input:hover
  outline: none
  +outline(#bbb)

.center_form_field input:focus
  outline: none
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.298) inset
  +outline(#00BFA5)

a.center_form_link
  font-size: 1em
  display: inline-block
  color: #004D40
  text-decoration: none
  padding: 1em 2em

a.center_form_link:hover
  color: #004D40
  background: none
  text-decoration: underline

a.center_form_link:visited
  color: #004D40

a.center_form_link:active
  color: #004D40

