.record_module
  background-color: #fff
  box-shadow: 0 1px 4px rgba(0,0,0,.39)
  height: 120px
  width: 550px
  margin: 1em 2em
  padding: 0em 2em
  cursor: pointer

  //transition: all .1s ease-in-out

  div
    text-align: left
  .ab_group, .cd_group
    float: left
    .field_name
      font-size: .75em
      line-height: 1em
      opacity: .54
      margin-top: .5em
    .field_value
      margin-left: .6em
      margin-top: .1em
      font-size: 1.4em

    .module_a, .module_b
      width: 200px
      height: 60px
      float: left
    .module_c, .module_d
      width: 250px
      height: 60px
      float: left

  .ab_group
    width: 200px
  .cd_group
    width: 350px
