@import colors

#helmet
  background-color: $one

dt
  padding: 0
  font-size: .7em
  color: rgba(0,0,0,.27)
dd
  padding: 0
  margin-left: 10px

a
  color: $one

.compact
  a
    opacity: 0.5
    transition: none

    &:hover
      opacity: 1

a.task_status
  color: rgba(0,0,0,.9)

h1, h2, h3, th
  color: $zero

.left_half, .right_half
  display: inline-block
  width: 50%
  text-align: center
  margin: 0
  vertical-align: top

  dt
    font-size: 120%
  dd
    margin: 0

.to_be_revealed
  display: none

.inline_block
  display: inline-block !important
