<%= form_for(@favorite_color) do |f| %>
  <% if @favorite_color.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorite_color.errors.count, "error") %> prohibited this favorite_color from being saved:</h2>

      <ul>
      <% @favorite_color.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
