%nav
  %ul
    - @courses.each do |course|
      %li
        - klass = 'button'
        - klass << ' selected' if course == current_course
        = link_to course, activate_course_path(course.id), class: klass, remote: false
